# infra/docker-compose.yml
name: data-stack

x-logging: &default-logging
  driver: json-file
  options:
    max-size: "10m"
    max-file: "3"

networks:
  internal:
    driver: bridge
  nextcloud-net:
    driver: bridge

volumes:
  pg-data:
  minio-data:
  superset-home:
  airflow-logs:
  pg-airflow-data:
  pg-superset-data:
  prom-data:
  grafana-data:
  nextcloud_db:
  nextcloud_html:
  nextcloud_data:
  nodered_data:
  keycloak_data:

services:

  # ======================================================================================= #
  # ==================================               ====================================== #
  # ==================================      BASE     ====================================== #
  # ==================================               ====================================== #
  # ======================================================================================= #

  #==== BASE PRODUCAO ====
  postgres:
    image: postgres:16
    profiles: ["base"]
    container_name: postgres
    ports:
      - "5432:5432"
 #   expose:
 #     - "5432"
    restart: unless-stopped
    logging: *default-logging
    env_file: [".env"]
    environment:
      TZ: America/Sao_Paulo
      POSTGRES_DB: ${PG_DB}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -p 5432 -U $${PG_USER} -d $${PG_DB} || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 20
    networks: [internal]

  #==== BANCO PARA SIMULAR S3 CLOUD ====
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    profiles: ["base"]
    container_name: minio
    ports:
      - "9005:9000"
      - "9004:9001"
#    expose:
#      - "9000"
#      - "9001"
    restart: unless-stopped
    logging: *default-logging
    env_file: [".env"]
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
    networks: [internal]

  # opcional: faz alias/config inicial no MinIO
  minio-mc:
    image: minio/mc:latest
    profiles: ["base"]
    restart: "no"
    logging: *default-logging
    env_file: [".env"]
    depends_on:
      minio: { condition: service_started }
    entrypoint: >
      sh -c '
      set -eu;
      for i in $$(seq 1 30); do
        mc alias set local http://minio:9000 "$$MINIO_ROOT_USER" "$$MINIO_ROOT_PASSWORD" && exit 0 || sleep 2;
      done;
      echo "MinIO not ready" >&2; exit 1
      '
    networks: [internal]

  # ======================================================================================= #
  # ==================================               ====================================== #
  # ==================================   ANALYTICS   ====================================== #
  # ==================================               ====================================== #
  # ======================================================================================= #

  postgres-superset:
    image: postgres:16
    profiles: ["analytics"]
    container_name: postgres-superset
    restart: unless-stopped
    env_file: [".env"]
    environment:
      POSTGRES_DB: superset
      POSTGRES_USER: superset
      POSTGRES_PASSWORD: superset
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U superset -d superset -h localhost -p 5432 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    volumes:
      - pg-superset-data:/var/lib/postgresql/data
    networks: [internal]

  superset:
    image: apache/superset:4.0.2
    profiles: ["analytics"]
    container_name: superset
    ports:
      - "8088:8088"
#    expose:
#      - "8088"
    restart: unless-stopped
    logging: *default-logging
    env_file: [".env"]
    environment:
      SUPERSET_SECRET_KEY: ${SUPERSET_SECRET_KEY}
      SQLALCHEMY_DATABASE_URI: postgresql+psycopg2://superset:superset@postgres-superset:5432/superset
      ADMIN_USER: ${ST_ADMIN_USER}
      ADMIN_EMAIL: ${ST_ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ST_ADMIN_PASSWORD}
    depends_on:
      postgres-superset: { condition: service_healthy }
    volumes:
      - superset-home:/app/superset_home
      - ./superset/superset_config.py:/app/pythonpath/superset_config.py:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8088/health"]
      interval: 10s
      timeout: 5s
      retries: 30
    command: >
      /bin/sh -c "superset db upgrade &&
      superset fab create-admin --username $${ADMIN_USER} --firstname Admin --lastname User --email $${ADMIN_EMAIL} --password $${ADMIN_PASSWORD} || true &&
      superset init &&
      gunicorn --bind 0.0.0.0:8088 'superset.app:create_app()'"
    networks: [internal]

  # Grafana - analytics + monitoring
  grafana:
    image: grafana/grafana:latest
    profiles: ["analytics"]
    container_name: grafana
    restart: unless-stopped
    logging: *default-logging
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_DEFAULT_THEME=dark
      - TZ=America/Sao_Paulo
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    networks: [internal]
    depends_on:
      postgres-superset:
        condition: service_started

  # ========================================================================================= #
  # ===================================                  ==================================== #
  # ===================================   ORCHESTRATOR   ==================================== #
  # ===================================                  ==================================== #
  # ========================================================================================= #


  # ===================== DATABASE =====================
  postgres-airflow:
    image: postgres:16
    container_name: postgres-airflow
    hostname: BRUD-LT8XSY944
    env_file:
    - .env
    profiles: ["orchestrator"]
    environment:
      POSTGRES_DB: airflow
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      TZ: ${TZ}
    volumes:
      - pg-airflow-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow -d airflow"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks: [internal]

  # ===================== INIT =====================
  airflow-init:
    image: datastack-airflowsql
    container_name: airflow-init
    profiles: ["orchestrator"]
    env_file:
      - .env
    depends_on:
      postgres-airflow:
        condition: service_healthy
    environment:
      TZ: ${TZ}

      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: ${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN}
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
      AIRFLOW__LOGGING__BASE_LOG_FOLDER: /opt/airflow/logs

      # Use uma única fonte: AIRFLOW__CORE__FERNET_KEY (não deixe vazio)
      AIRFLOW__CORE__FERNET_KEY: ${AIRFLOW__CORE__FERNET_KEY}

      AIRFLOW__API__BASE_URL: ${AIRFLOW_API_BASE_URL}
      AIRFLOW__CORE__EXECUTION_API_SERVER_URL: ${AIRFLOW_EXECUTION_API_URL}
      AIRFLOW__API_AUTH__JWT_SECRET: ${AIRFLOW__API_AUTH__JWT_SECRET}

      AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS: "admin:admin,viewer:viewer"
      AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_PASSWORDS_FILE: /opt/airflow/simple_auth_manager_passwords.json.generated

    volumes:
      - /home/pc01/data-stack/orchestration/dags:/opt/airflow/dags:ro
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      # REMOVIDO:
      # - ./airflow/simple_auth_manager_passwords.json.generated:/opt/airflow/simple_auth_manager_passwords.json.generated

    entrypoint: []
    command: >
      bash -lc "mkdir -p /opt/airflow/logs /opt/airflow/plugins /opt/airflow/dags &&
                airflow db migrate &&
                airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com || true"
    
    dns:
      - 10.113.21.7
    networks: [internal]



  # ===================== API SERVER =====================
  airflow-apiserver:
    image: datastack-airflowsql
    container_name: airflow-apiserver
    hostname: BRUD-LT8XSY944    
    env_file:
      - .env
    profiles: ["orchestrator"]
    user: "${AIRFLOW_UID}:${AIRFLOW_GID}"
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    ports:
      - "8081:8080"
    environment:
      TZ: ${TZ}

      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: ${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN}
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
      AIRFLOW__LOGGING__BASE_LOG_FOLDER: /opt/airflow/logs
      AIRFLOW__CORE__FERNET_KEY: ${AIRFLOW_FERNET_KEY}

      AIRFLOW__API__BASE_URL: ${AIRFLOW_API_BASE_URL}
      AIRFLOW__CORE__EXECUTION_API_SERVER_URL: ${AIRFLOW_EXECUTION_API_URL}

      AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS: "admin:admin,viewer:viewer"
      AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_PASSWORDS_FILE: /opt/airflow/simple_auth_manager_passwords.json.generated

    command: ["airflow", "api-server"]
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:8080/api/v2/monitor/health"]
      interval: 15s
      timeout: 5s
      retries: 10
    volumes:
      - /home/pc01/data-stack/orchestration/dags:/opt/airflow/dags:ro
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./airflow/simple_auth_manager_passwords.json.generated:/opt/airflow/simple_auth_manager_passwords.json.generated
    
    dns:
      - 10.113.21.7
    networks: [internal]

  # ===================== SCHEDULER =====================
  airflow-scheduler:
    image: datastack-airflowsql
    container_name: airflow-scheduler
    hostname: BRUD-LT8XSY944 
    env_file:
      - .env

    profiles: ["orchestrator"]
    user: "${AIRFLOW_UID}:${AIRFLOW_GID}"
    depends_on:
      airflow-apiserver:
        condition: service_healthy
    environment:
      TZ: ${TZ}

      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: ${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN}
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
      AIRFLOW__LOGGING__BASE_LOG_FOLDER: /opt/airflow/logs
      AIRFLOW__CORE__FERNET_KEY: ${AIRFLOW_FERNET_KEY}
      


      AIRFLOW__API__BASE_URL: ${AIRFLOW_API_BASE_URL}
      AIRFLOW__CORE__EXECUTION_API_SERVER_URL: ${AIRFLOW_EXECUTION_API_URL}

    command: ["airflow", "scheduler"]
    volumes:
      - /home/pc01/data-stack/orchestration/dags:/opt/airflow/dags:ro
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
    dns:
      - 10.113.21.7
    networks: [internal]


  # ===================== DAG PROCESSOR =====================
  airflow-dag-processor:
    image: datastack-airflowsql
    container_name: airflow-dag-processor
    hostname: BRUD-LT8XSY944
    env_file:
      - .env
    profiles: ["orchestrator"]
    user: "${AIRFLOW_UID}:${AIRFLOW_GID}"
    depends_on:
      airflow-apiserver:
        condition: service_healthy
    environment:
      TZ: ${TZ}

      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: ${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN}
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
      AIRFLOW__LOGGING__BASE_LOG_FOLDER: /opt/airflow/logs
      AIRFLOW__CORE__FERNET_KEY: ${AIRFLOW_FERNET_KEY}
      

      AIRFLOW__API__BASE_URL: ${AIRFLOW_API_BASE_URL}
      AIRFLOW__CORE__EXECUTION_API_SERVER_URL: ${AIRFLOW_EXECUTION_API_URL}

    command: ["airflow", "dag-processor"]
    volumes:
      - /home/pc01/data-stack/orchestration/dags:/opt/airflow/dags:ro
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
    dns:
      - 10.113.21.7
    networks: [internal]


  # ======================================================================================= #
  # ===================================              ====================================== #
  # ===================================  MONITORING  ====================================== #
  # ===================================              ====================================== #
  # ======================================================================================= #

  prometheus:
    image: prom/prometheus:v2.55.1
    profiles: ["monitoring"]
    container_name: prometheus
    ports:
      - "9090:9090"
#    expose:
#      - "9090"
    restart: unless-stopped
    logging: *default-logging
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks: [internal]

  node_exporter:
    image: prom/node-exporter:v1.8.2
    container_name: node_exporter
    profiles: ["monitoring"]
    restart: unless-stopped
    logging: *default-logging
    networks: [internal]

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    container_name: cadvisor
    profiles: ["monitoring"]
    restart: unless-stopped
    logging: *default-logging
    privileged: true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks: [internal]




  # ======================================================================================= #
  # ====================================            ======================================= #
  # ====================================   PROXY    ======================================= #
  # ====================================            ======================================= #
  # ======================================================================================= #


  nginx:
    image: nginx:1.27
    profiles: ["proxy"]
    restart: unless-stopped
    logging: *default-logging
    ports:
      - "80:80"
   #   - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks: [internal]

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    profiles: ["keykloak"]
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
    ports:
      - "8080:8080"
    volumes:
      - keycloak_data:/opt/jboss/keycloak/standalone/data
  












  # ======================================================================================= #
  # ==================================              ======================================= #
  # ==================================   STORAGE    ======================================= #
  # ==================================              ======================================= #
  # ======================================================================================= #



  nextcloud-db:
    image: postgres:16
    container_name: nextcloud-db
    profiles: ["storage"]
    restart: unless-stopped
    environment:
      POSTGRES_DB: nextcloud
      POSTGRES_USER: nextcloud
      POSTGRES_PASSWORD: nextcloud_pwd
    volumes:
      - nextcloud_db:/var/lib/postgresql/data
    networks:
      - nextcloud-net

  nextcloud-app:
    image: nextcloud:29-apache
    container_name: nextcloud-app
    profiles: ["storage"]
    restart: unless-stopped
    ports:
      - "8085:80"
    environment:
      POSTGRES_HOST: nextcloud-db
      POSTGRES_DB: nextcloud
      POSTGRES_USER: nextcloud
      POSTGRES_PASSWORD: nextcloud_pwd
      NEXTCLOUD_ADMIN_USER: admin
      NEXTCLOUD_ADMIN_PASSWORD: admin123
      OVERWRITEPROTOCOL: http
      NEXTCLOUD_TRUSTED_DOMAINS: 10.113.120.154

    volumes:
      - nextcloud_html:/var/www/html
      - nextcloud_data:/var/www/html/data
    depends_on:
      - nextcloud-db
    networks:
      - nextcloud-net




  # ======================================================================================= #
  # ===============================                     =================================== #
  # ===============================   DRIVE-AUTOMATION  =================================== #
  # ===============================                     =================================== #
  # ======================================================================================= #
  nodered:
    image: nodered/node-red:latest
    profiles: ["nodered"]
    container_name: nodered
    restart: unless-stopped
    ports:
      - "1880:1880"
    environment:
      - TZ=America/Sao_Paulo
    volumes:
      - nodered_data:/data
