apache-airflow-providers-amazon
apache-airflow-providers-microsoft-mssql
apache-airflow-providers-odbc
apache-airflow-providers-postgres
apache-airflow-providers-http

requests
psycopg2-binary
pyodbc
pymssql
python-dotenv